
.Head{
    background-color:#FAFF4C;
    margin:0;
    padding: 0;
    

}

.Elements{
    display: inline-block;
    font-size: 16px;
    margin: 20px ;
    cursor: pointer;
}
.search{
    margin: 20px 25%;
    padding: 10px 100px ;
    border-radius: 3px;
    border-color: transparent;
}


.Buttons{
    color : black;
    background: transparent;
    border-color: transparent;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.category{
    
    background-color: #272720 ;
    color: white;
}